$background-color:#f0f2f5;

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: $background-color;

  .main {
    display: flex;
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow: hidden;

    .content-container {
      flex: 1;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;

      .content-wrapper {
        background-color: $background-color;
        height: 100%;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        flex: 1;
        display: flex;
      }
    }
  }
}