@import "#/styles/theme.scss";
.header {
  height: $header-height;
  line-height: $header-height;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  position: relative;
  z-index: 99;
  .userinfo {
    text-align: right;
    padding-right: 35px;
    float: right;

    .userinfo-inner {
      cursor: pointer;
      img {
        width: 20px;
        margin: 18px 0px 10px 10px;
        float: left;
      }
    }
  }

  .logo {
    //width:230px;
    height: $header-height;
    font-size: 22px;
    padding-left: 13px;
    padding-right: 20px;
    background: #002140;
    color: #fdfdfd;

    img {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
    }

    h1 {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin: 0 0 0 2px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: 600;
    }

    .txt {
      color: #fff;
    }
  }
  .el-breadcrumb{
    height: $header-height;
    line-height: $header-height;
    padding-left: 20px;
  }
  .logo-width {
    width: $aside-width;
  }

  .logo-collapse-width {
    width: $aside-smile-width;
  }

  .tools {
    padding: 0px 20px;
    width: 14px;
    height: $header-height;
    line-height: $header-height;
    cursor: pointer;
    display: inline-block;
    float: right;
    color: #fff;
  }
}