/* 左边菜单宽度 */
$aside-width:200px;

$base-aside-color:#00142a;

$menu-color: rgba(255, 255, 255, 0.7);
/* 左边菜单背景颜色 */
$menu-background-color: rgb(0, 20, 42);
/* 左边菜单文字颜色 */
$el-menu-color:#909399;
/* 折叠后狂宽度 */
$aside-smile-width:60px;
$header-height:60px;